
/*colores*/
.color-ligth{
    background-color: #beffba;
  }
.color-dark{
    background: #53cd5a;
    
}
.color-primary{
    background: #89ff89;
    
}
.color-backgroud{
    background: #ffffff;
}


  
  /*imagenes */
.imagetamano{
    height: 16rem;
    width: 16rem;
}
.logo-size{
    height: 50px;
    width: 50px;
}
.style{
  width: 18rem;
  padding: 1em;
}

/*pading */
.padding-section{
    padding-top: 3%;
    padding-bottom: 1%;
  }
.padding-card{
    padding: 1%;
  }

  /*text*/
.text-align{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
 
.text-font {
    
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}